<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        How to Contribute
      </p>
    </div>
    <div class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0">
      <div>
        <div>
          <span class="text-white font-display text-xl">
            Deploy Your Project in the DCISM Server:
          </span>
        </div>
        <p class="mt-3 text-eagle">
          Host your website or web application on the DCISM student server. 
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl">
            Provide Project Details:
          </span>
        </div>
        <p class="mt-3 text-eagle">
         Submit your live URL, an opengraph image to use as a cover image, and a quick rundown of what your project does and how it helps fellow students.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl">
            Meet Quality Standards:
          </span>
        </div>
        <p class="mt-3 text-eagle">
          Make sure your project works well across devices, follows clean code practices, and is presented professionally. We’re showcasing quality work that reflects the skills of DCISM students.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl">
            Get Featured & Recognized:
          </span>
        </div>
        <p class="mt-3 text-eagle">
          Approved projects will be displayed with credit to you. Gain visibility, grow your portfolio, and motivate other students by being part of the official DCISM Directory.
        </p>
      </div>
    </div>
  </div>
</section>
